@model int
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witaj!</h1>
    <p>
        Zgromadziliśmy już <strong>@Model</strong> próbek testowych!
    </p>
    <p>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: @(Model * 100 / 1000)%" aria-valuenow="@(Model)" aria-valuemin="0" aria-valuemax="1000"></div>
        </div>
    </p>
    <p>
        Jeszcze tylko <strong>@(1000 - Model)</strong> obrazów i nasz cel badawczy został osiągnięty!
    </p>
    <p>
        Chcesz nam pomóc? Wystarczy, że narysujesz liczbę i powiesz nam co to za liczba. Dzięki <strong>Twojej</strong> pomocy
        będziemy o krok bliżej do doktoratu!
    </p>
    <p>
        @Html.ActionLink("Ku przygodzie!", "Index", "Mnist")
    </p>
</div>
